@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
.container-fluid {
  background-image: url("/images/city1.jpg"); }

.navbar {
  background-color: #FFFFFF00; }
  .navbar .navbar-brand {
    color: #ffffff; }
    .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
      color: #f42b18; }
  .navbar .navbar-text {
    color: #ffffff; }
    .navbar .navbar-text a {
      color: #f42b18; }
      .navbar .navbar-text a:hover, .navbar .navbar-text a:focus {
        color: #f42b18; }
  .navbar .navbar-nav .nav-link {
    color: #ffffff;
    border-radius: .25rem;
    margin: 0 0.25em; }
    .navbar .navbar-nav .nav-link:not(.disabled):hover, .navbar .navbar-nav .nav-link:not(.disabled):focus {
      color: #f42b18; }
  .navbar .navbar-nav .nav-item.active .nav-link, .navbar .navbar-nav .nav-item.active .nav-link:hover, .navbar .navbar-nav .nav-item.active .nav-link:focus, .navbar .navbar-nav .nav-item.show .nav-link, .navbar .navbar-nav .nav-item.show .nav-link:hover, .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #f42b18;
    background-color: #130a0a; }
  .navbar .navbar-toggle {
    border-color: #130a0a; }
    .navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
      background-color: #130a0a; }
    .navbar .navbar-toggle .navbar-toggler-icon {
      color: #ffffff; }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #ffffff; }
  .navbar .navbar-link {
    color: #ffffff; }
    .navbar .navbar-link:hover {
      color: #f42b18; }

@media (max-width: 575px) {
  .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff; }
    .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #f42b18; }
  .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #f42b18;
    background-color: #130a0a; } }

@media (max-width: 767px) {
  .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff; }
    .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #f42b18; }
  .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #f42b18;
    background-color: #130a0a; } }

@media (max-width: 991px) {
  .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff; }
    .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #f42b18; }
  .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #f42b18;
    background-color: #130a0a; } }

@media (max-width: 1199px) {
  .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff; }
    .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #f42b18; }
  .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #f42b18;
    background-color: #130a0a; } }

.navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ffffff; }
  .navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #f42b18; }

.navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #f42b18;
  background-color: #130a0a; }

#boton {
  color: #ffffff; }

.sin {
  list-style: none; }

.jumbotron {
  background-color: #FFFFFF00;
  color: #f42b18; }

#titulo-banner {
  font-weight: 700;
  font-family: 'Roboto', sans-serif; }

#texto-footer {
  font-family: 'Roboto', sans-serif;
  color: #130a0a;
  overflow: hidden;
  background-color: #f42b18;
  height: 150px; }

.color-footer {
  color: #ffffff;
  background-color: #f42b18; }

.modal-header {
  background-color: #f42b18; }

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  color: #ffffff; }

.close {
  color: #ffffff; }

.Btndesabilitado {
  color: #47F12C;
  border-radius: .25rem;
  margin: 0 0.25em;
  display: block;
  padding: .5rem 1rem; }

.fa-linkedin-in, .fa-instagram, .fa-facebook-f {
  color: #F1F12C; }

.gdlr {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(https://demo.goodlayers.com/inteco/wp-content/uploads/2018/09/hp4-hero-bg.jpg); }

element.style {
  background-image: url(https://demo.goodlayers.com/inteco/wp-content/uploads/2018/09/hp4-hero-bg.jpg);
  background-size: cover;
  background-position: center center;
  height: 649.1px;
  transform: translate(0px, 52.8px); }
