$bgDefault      : #FFFFFF00;
$bgHighlight    : #130a0a;
$colDefault     : #ffffff;
$colHighlight   : #f42b18;
$dropDown       : false;
$transparente   : #FFFFFF00;
$desabilitado   : #47F12C;
$socialfooter   : #F1F12C;

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

.container-fluid{
    background-image: url("/images/city1.jpg");
}



.navbar {
  background-color: $bgDefault;
    .navbar-brand {
        color: $colDefault;
        &:hover, &:focus {
        color: $colHighlight; }
    }

    .navbar-text {
        color: $colDefault; 
        a {
            color: $colHighlight;
            &:hover, &:focus {
            color: $colHighlight; }
        }
    }
  .navbar-nav {
    .nav-link {
      color: $colDefault;
      border-radius: .25rem;
      margin: 0 0.25em;
      &:not(.disabled) {
        &:hover, &:focus {
          color: $colHighlight; }}}
    @if ($dropDown) {
      .dropdown-menu {
        background-color: $bgDefault;
        border-color: $bgHighlight;
        .dropdown-item {
          color: $colDefault;
          &:hover, &:focus, &.active {
            color: $colHighlight;
            background-color: $bgHighlight; }}
        .dropdown-divider {
          border-top-color: $bgHighlight; }}}
    .nav-item.active, .nav-item.show {
      .nav-link, .nav-link:hover, .nav-link:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .navbar-toggler-icon {
      color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 575px) {
  .navbar-expend-sm .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
@media (max-width: 767px) {
  .navbar-expend-md .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
@media (max-width: 991px) {
  .navbar-expend-lg .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
@media (max-width: 1199px) {
  .navbar-expend-xl .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
.navbar-expend .navbar-nav .show .dropdown-menu {
  .dropdown-item {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .dropdown-item.active {
    color: $colHighlight;
    background-color: $bgHighlight; }}


    #boton{
        color: $colDefault ;
    }

    .sin{
      list-style:none;
    }

    .jumbotron {
      background-color: $transparente; 
      color: $colHighlight;
    }
    
    #titulo-banner{
      font-weight: 700;
      font-family: 'Roboto', sans-serif;
    }

    #texto-footer{

      font-family: 'Roboto', sans-serif;
      color: $bgHighlight;
      overflow: hidden;
      background-color: $colHighlight;
      height: 150px;
    }

    .color-footer{
      color: $colDefault;
      background-color: $colHighlight;
    }
    
    .modal-header {
      background-color: $colHighlight ;
    }

    .modal-title {
      margin-bottom: 0;
      line-height: 1.5;
      color: $colDefault;
  }

    .close {
      color:$colDefault;
    }


    .Btndesabilitado{
      color: $desabilitado;
      border-radius: .25rem;
      margin: 0 0.25em;
      display: block;
      padding: .5rem 1rem;
    }


    .fa-linkedin-in, .fa-instagram, .fa-facebook-f {
      color:  $socialfooter ;
    }


    .gdlr {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url(https://demo.goodlayers.com/inteco/wp-content/uploads/2018/09/hp4-hero-bg.jpg);
      
  }


  element.style {
    background-image: url(https://demo.goodlayers.com/inteco/wp-content/uploads/2018/09/hp4-hero-bg.jpg);
    background-size: cover;
    background-position: center center;
    height: 649.1px;
    transform: translate(0px, 52.8px);
}